### Emacs
\#*#
\.#*
*~

### Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
tutorial/.ipynb_checkpoints/
docs/_build
docs/tutorial*.html
cartosky/data/lambda_sfd_ebv.fits

### Latex
*.fls
*.aux
*.log
*.fdb_*
*.out
*.blg
*.bbl
